[submodule "modules/JUCE"]
	path = modules/JUCE
	url = https://github.com/juce-framework/JUCE.git
	branch = develop
[submodule "modules/vcpkg"]
	path = modules/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
